%header
  %h1 Knuddelkrabbe
  %nav
    %a{href: "#p1"} p1
    %a{href: "#p2"} p2
    %a{href: "#p3"} p3
    %a{href: "#p4"} p4
    %a{href: "#p5"} p5
    - if construction
      %a{href: "#construction"} Click Me